<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Registrati</title>
</head>
<body>
<div class="form-wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages">
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="form-container">
        <h2>Registrati</h2>

        <form method="POST" action="{{ url_for('register') }}">
            <label for="name">Nome:</label>
            <input type="text" name="name" required><br>

            <label for="surname">Cognome:</label>
            <input type="text" name="surname" required><br>

            <label for="username">Username:</label>
            <input type="text" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" required><br>

            <button class="form-button" type="submit">Registrati</button>
        </form>

        <p>Hai già un account? <a href="{{ url_for('login') }}">Accedi</a></p>
    </div>
</div>
</body>
</html>
